<html>
	<head>
		<title>{{ game.title }}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1>{{ game.title }}</h1>
			</div>
			<div class="container">
	        	<ul class="list-unstyled">
	        		<li>{{ game.platform }}</li>
	        		<li>{{ game.publishing_year.year }}</li>
	        	</ul>
        	</div>
        	<div class="container">
        		<h4>Reviews</h4>
	        	{% if reviews %}
	        		<div class="container">
	        			{% if review_count > 1 %}
		        			<h5>{{approval_rate}} approves this game <small class="text-muted">({{review_count}} reviews)</small></h5>
	        			{% else %}
		        			<h5>{{approval_rate}} approves this game <small class="text-muted">(1 review)</small></h5>
	        			{% endif %}
	        		</div>	
		    		{% for review in reviews %}
		    			<div class="container">
		    				<div class="row">
		    					<p><strong>{{review.user}}</strong></p>
		    				</div>
		    				<div class="row">
		    					<p>{{review.date|date:"M d, Y"}}</p>
		    				</div>	
		    				<p>{{review.review}}</p>
		    			</div>
		    		{% endfor %}
				{% else %}
					<p> There are no reviews yet. Be the first one to share your thoughts! </p>
				{% endif %}
			</div>
		</div>
	</body>
</html>